#lets-see{
    background: #000080
}

#modal-content{
    border: 1px solid #fff;
}

#help-col{
    padding: 0px;
}

#search-input{
    margin-bottom: 10px;
}

#help-btn{
    margin-bottom: 0px;
    margin-top: 0px;
}
