.hero{
    width: 50px;
    height: 50px;
}

.hero-txt{
    padding: 20px;
}

.hero-p{
   margin: 30px;
   margin-top: 40px;
   font-size: 20px;
}

#top-card{
    max-height: 450px;
    min-height: 450px;
}

#lower-img{
    width: 100%;
    overflow: hidden;
    padding: 0px; 
    margin: 0px;
    background-size: cover;
    position: relative;
}

#lower-img-div{
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: transparent;
  font-size: 60px;
  color: #fff;
}

#lower-img-small{
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: transparent;
    font-size: 20px;
    color: #fff;
}

#card-img{
    height: 200px;
    object-fit: cover;
}

#top-card-txt{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}


form{
    background-color: transparent;
}

Card.Body{
    height: 200px;
}

#card-btn{
    background-color: transparent;
    border: 1 #fff;
}

#support-div{
    display: flex;
    justify-content: center;
}

#mtws-support{
    color: #fff;
    margin-top: 50px;
}

#icon-text{
    display: flex;
    justify-content: center; 
}
