.vertical-card-group {
    display: flex;
    flex-direction: column;
    background: #2a2a2a;
}

#card{
   border: 0px; 
   border-bottom: 1px solid white
}

#side-card{
    width: 50%;
    background: #2a2a2a;
    margin-right: 5px;
}

#side-card-title{
    background: #2a2a2a
}

href{
    color: #014f86
}

#card-text{
    font-family: 'Roboto', sans-serif;
    font-weight: bolder;
}

