.vertical-card-group {
    display: flex;
    flex-direction: column;
    background: #2a2a2a;
}

#card{
   border: 0px; 
   border-bottom: 1px solid white
}

.side-card{
    border: 0px;
    width: 50%;
    margin-bottom: 5px;
}

href{
    color: #014f86
}

