#form-box {
    display: flex;
    justify-content: center;
    background-image: url('../../Images/Military.jpg');
}

.header {
    color: #fff;
    font-weight: bolder;
    background: transparent;
}

.card-body-login{
    background-color: transparent;
}

#login-card {
    padding: 13px;
    background: rgba(0, 0, 0, 0.7);
    margin-top: 20%;
    margin-bottom: 20%;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.3);
    height: 200px;
    width: auto;
    border: 1px solid #fff;
}


.form-input {
    margin: 5px;
    display: block;
}

#login-btn{
    color: white;
    font-weight: bolder;
}