* {
  background-color: #2a2a2a;
}

.contact-header {
  justify-content: center;
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  padding: 2%;
}
.flex-two {
  display: flex;
}

li {
  text-decoration: none;
  list-style: none;
  margin-bottom:7%;
}

#logo-footer{
position: absolute;
right: 0;
margin-right: 35px;
}

.outer{
  border: 1px solid #253c78;
  display: flex;
}

label {
  display: block;
}

button {
	background: var(--primary);
	border: 0;
	border-radius: 5px;
	cursor: pointer;
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 30px;
	padding: 10px 15px;	
}

#forum-title{
  color: #fff
}

li {
  text-decoration: none;
  list-style: none;
  margin-bottom:7%;
}


