.navbar-div{
    padding: 5px;
}

.navbar-div h2{
    font-size: 20px;
    color: #27405D;
}

.drop-btn{
    margin-top: 3px;
    background-color: #fff;
    color: #29335c;
    border: none;
    margin-left: 30px;
}

.image{
    width: 100px;
    height: auto;
}

#id {
    font-weight: bolder;
}

#h2 {
    color: #27405D;
}

#dropdown {
    margin-top: 8px;
}
.navbarNav{
    padding: 20px;
    border-bottom: 5px white;
    margin: auto;
}