.navbar-div{
    padding: 5px;
}

.navbar-div h2{
    font-size: 20px;
    color: #27405D;
}

#drop-btn{
    /* margin-top: 3px;
    background-color: #fff;
    border: none;
    margin-left: 30px; */
    background-color: #fff;
    color: #27405D;
    border: none;
    cursor: pointer;
    fontWeight: bolder;
}

.image{
    width: 100px;
    height: auto;
}

#id {
}

#h2 {
    color: #27405D;
}

#dropdown {
    margin-top: 8px;

    &.active{
        color: #15cdfc;
    }
}
.navbarNav{
    padding: 20px;
    border-bottom: 5px white;
    margin: auto;
}