.navbar-div{
    padding: 5px;
    background-color: #2a2a2a;
}

nav{
    background-color: #2a2a2a;
}

.navbar-div h2{
    font-size: 30px;
    color: #fff;
}

#drop-btn{
    /* margin-top: 3px;
    background-color: #fff;
    border: none;
    margin-left: 30px; */
    background-color: #2a2a2a;
    color: #fff;
    border: none;
    cursor: pointer;
    fontWeight: bolder;
}

.image{
    width: 100px;
    height: auto;
}

#id {
}

#h2 {
    color: #fff;
}

#dropdown {
    margin-top: 8px;
    font-size: 40px;

    &.active{
        color: #1e96fc;
    }
}
.navbarNav{
    padding: 20px;
    border-bottom: 5px #262a30;
    margin: auto;
}

#home{
    color: #fff;
    margin-top: 3px;
}